@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Custom Scrollbar Styling -- Mainly for the autocomplete results, and possible other data that requires it. TailwinCSS doesn't seem to supoprt this.
  AFAIK this is also browser-specific. So far, this is tested and works with Chrome use as a class "custom-scrollbar" to apply to element. */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Slightly thicker for better visibility */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4); /* Frosted glass thumb */
  border-radius: 40px;
  backdrop-filter: blur(2px); /* Extra blur for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6); /* Slightly brighter on hover */
}


/* -- End: Custom Scrollbar Styling --*/